@charset "utf-8";

/*全局样式---------------------------------------------------------------------------------------------*/
form{margin:0px;padding:0px;}
.bai{ color:#fff;}
.hong{ color:#FF0000;}
.huang{ color:#a07234;}
.zhuan{ color:#8d1a67;}
.bold{ font-weight:bold;}
.f16{ font-size:16px;}
.f14{ font-size:14px;}
.f12{ font-size:12px;}
.hui3{ color:#333;}
.hui6{ color:#666666;}
.lan{ color:#0960a9;}
.cheng{color:#ff6600;}
.clear{ clear:both;}
.left{ float:left;}
.right{ float:right;}
.center{text-align:center;}
.mtop13{ margin-top:13px;}
.mtop25{ margin-top:25px;}
.mtop10{ margin-top:10px;}
.mtop5{ margin-top:5px;}
.mtop8{ margin-top:8px;}
.mleft23{ margin-left:23px;}
.mleft60{ margin-left:60px;}
.mleft45{ margin-left:45px;}
.mbottom7{ margin-bottom:7px;}
.mbottom20{ margin-bottom:20px;}
.mbottom10{ margin-bottom:10px;}
.mright10{ margin-right:10px;}
.ptop5{ padding-top:5px;}
.padding15{ padding:5px;}
.padding5{ padding:5px;}
.beizhu{ width:300px; height:100px;border:1px solid #9dc6ea;padding:2px;line-height:18px;}
.lineHeight22{ line-height:22px;}
.lineHeight25{ line-height:25px;}
.lineHeight20{ line-height:18px;}
.text{border:1px solid #9dc6ea;height:18px;padding:2px;line-height:18px;}
.width110{ width:110px;}
.width200{ width:200px;}
.width206{ width:208px;}
.width550{ width:550px;}
.normal{ font-weight:normal;}
.lineBottom{ border-bottom:1px dashed #ccc;}
ul{ list-style-type:none; padding:0; margin:0;}
.lh6:link,.lh6:visited,.lh6:active{
	text-decoration:none;
	color:#666666;
	overflow:hidden;
	}
.lh6:hover{
	color:#ba2636;
	text-decoration:none;
	}
.lh:link,.lh:visited,.lh:active{
	text-decoration:none;
	color:#000;
	overflow:hidden;
	}
.lh:hover{
	color:#ba2636;
	text-decoration:underline;
	}
.ll:link,.ll:visited,.ll:active{
	text-decoration:none;
	color:#0960a9;
	overflow:hidden;
	}
.ll:hover{
	color:#0960a9;
	text-decoration:underline;
	}
.lw:link,.lw:visited,.lw:active{
	text-decoration:none;
	color:#000;
	padding:2px 2px 0 2px;
	}
.lw:hover{
	color:#fff;
	padding:2px 2px 0 2px;
	background-color:#0066CC;
	}

.onShow,.onFocus,.onError,.onCorrect,.onLoad{
	padding-left:20px;
	margin-left:10px;
	width:14px;
	height:15px;
	font-size:12px;
	line-height:26px;
}

.onCorrect{
	background: url(../images/tips.gif) 0 -5px no-repeat;
	padding-top:2px;
	color:#4a7d00;
}

.onError{
	background: url(../images/tips.gif) 0 -26px no-repeat;
	padding-top:1px;
	color:#cd1f00;
}

.onFocus{
	background: url(../images/tips.gif) 0 -47px no-repeat;
	padding-top:2px;
	color:#007ac5;
}

.onShow{
	background: url(../images/tips.gif) 0 -47px no-repeat;
	padding-top:2px;
	color:#007ac5;
}

.onLoad{
	background: url(../images/onLoad.gif) no-repeat;
    padding-left:25px;
	height:16px; 
	width:16px;
	padding-bottom:2px;
	vertical-align:middle;
}

.bnt{ width:66px;
	  height:25px; 
	  text-align:center; 
	  line-height:25px; 
	  background-image:url(../images/CzPic.png); 
	  background-repeat:no-repeat; 
	  background-position:-474px 0;
	  border:0px; 
	  margin-right:7px; 
	  
	  padding-top:2px; 
	  cursor:pointer;}
.btn{ height:30px;*height:30px;line-height:30px;*line-height:22px;padding:4px 10px;*padding:2px 5px; margin-right:10px;font-size:14px;}
.btn1{ width:86px; height:33px; text-align:center; background:url(../images/btn.gif) no-repeat; line-height:33px; border:0; font-size:14px; font-weight:bold; color:#058115;cursor:pointer;}


/*分页---------------------------------------------------------------------------------------------*/
.page{
	float: right;	
	padding:7px 0;	
	text-align:right;
	font-family:"宋体";
}

.page a{
	text-decoration:none;
	border: 1px solid #ddd;
	font-size:12px;
	color:#006c98;
	height:17px;
	margin-top:2px;
	text-align: center;
	margin-left:5px;
	padding:5px 7px 0 7px;
	color:#666;
	float:left;
	}
.page a:hover {
	color:#006c98;
	border:1px solid #006c98;
	background-color: #dbf5ff;	
	text-decoration:none;
	height:17px;
	padding:5px 7px 0 7px;
}
.page div{ line-height:30px; margin-left:4px;}
.page input { width:32px;}


.page2 { font-family:宋体;}
.page2 a {text-decoration: underline;color:#000000; }
.page2 a:hover {color:#005ce5;text-decoration: none;}
.page2 input { width:32px;}
#on { border:1px solid #1D619C; background:#1972BD; color:#fff; }