@charset "utf-8";

/*首页头部样式---------------------------------------------------------------------------------------------*/
body{font-family:Verdana, Arial, Helvetica, sans-serif; padding:0; margin:0; font-size:12px;background-image:url(../images/bg.gif);background-repeat:repeat-x;}
.main{ width:960px; margin:0 auto;}
.main .top{ height:78px; width:960px; background:url(../images/nav.jpg) 0 0 no-repeat;}
.main .top ul{ list-style-type:none; padding:0; margin:0px;}
.main .top li{float:left; padding-left:13px; width:60px;}
.main .top1{
			background-image:url(../images/QpIndex.png);
			background-repeat:no-repeat;
			background-position:-460px -344px;}
.main .top2{
			background-image:url(../images/QpIndex.png);
			background-repeat:no-repeat;
			background-position:-534px -344px;}
.main .top3{
			background-image:url(../images/QpIndex.png);
			background-repeat:no-repeat;
			background-position:-607px -344px;}

/*导航样式---------------------------------------------------------------------------------------------*/
.nav{width:960px;height:46px; float:left;}
.navLeft{width:28px;height:46px; background:url(../images/nav.jpg) 0 -79px no-repeat; float:left;}
.navRight{width:12px;height:46px;background:url(../images/nav.jpg) -358px -79px no-repeat; float:right;}
.navCenter{width:920px;height:46px;background:url(../images/navBg.gif) repeat-x; float:left;}
.navCenter li{
	background:url(../images/nav.jpg) -138px -79px no-repeat;
	height:46px;
	width:110px;
	float:left;
	line-height:46px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
	}

.navCenter li a {
	display:block;
	font-size:14px;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	}
.navCenter li a:visited {
	color:#fff;	
	}
.navCenter li a:hover {
	text-align:center;
	color:#fff;
	background:url(../images/nav.jpg) -248px -79px no-repeat; 
	}
.navCenter .current a:link,.navCenter .current a:hover,.navCenter .current a:active,.navCenter .current a:visited {
	color:#003366;
	font-weight:bold;
	background:url(../images/nav.jpg) -28px -79px no-repeat; 
	padding-top:2px;
	height:44px; width:110px;
	text-align:center;
	}
	
/*页面主体部分样式---------------------------------------------------------------------------------------------*/
.mainLeft{ width:717px; height:auto; float:left;}
.mainLeft1{ width:230px; height:auto; float:left;}
.LeftSide{ width:230px; height:auto; float:left;}
	/*按钮样式---------------------------------------------------------------------------------------------*/
	.down{ 
	background:url(../images/QpIndex.png);
	background-repeat:no-repeat;
	background-position:0 -40px;
	width:230px; height:105px;}	
	.down a:link,.down a:active,.down a:visited,.down a:hover{
	display:block;
	width:230px;
	height:105px;
	}
	a.btn1{
	display:block; 
	background:url(../images/QpIndex.png);
	background-repeat:no-repeat;
	background-position:0 -145px;
	width:230px;
	height:49px;
	}	
	a.btn1:hover{
	display:block;
	background:url(../images/QpIndex.png);
	background-repeat:no-repeat;
	background-position:-462px -82px;
	width:230px;
	height:49px;
	}
	a.btn2{
	display:block; 
	background:url(../images/QpIndex.png);
	background-repeat:no-repeat;
	background-position:0 -194px;
	width:230px;
	height:50px;
	}	
	a.btn2:hover{
	display:block;
	background:url(../images/QpIndex.png);
	background-repeat:no-repeat;
	background-position:-462px -131px;
	width:230px;
	height:50px;
	}
	a.btn3{
	display:block; 
	background:url(../images/QpIndex.png);
	background-repeat:no-repeat;
	background-position:0 -244px;
	width:230px;
	height:51px;
	}	
	a.btn3:hover{
	display:block;
	background:url(../images/QpIndex.png);
	background-repeat:no-repeat;
	background-position:-462px -181px;
	width:230px;
	height:51px;
	}
	a.btn4{
	display:block; 
	background:url(../images/QpIndex.png);
	background-repeat:no-repeat;
	background-position:0 -295px;
	width:230px;
	height:57px;
	}	
	a.btn4:hover{
	display:block;
	background:url(../images/QpIndex.png);
	background-repeat:no-repeat;
	background-position:-462px -232px;
	width:230px;
	height:57px;
	}
	/*服务中心样式---------------------------------------------------------------------------------------------*/
	.serve{width:230px; height:auto;float:left;}
	.serve1{
		width:207px; 
		height:30px;
		padding:1px 0 0 23px;
		line-height:31px;
		background-image:url(../images/QpIndex.png);
		background-repeat:no-repeat;
		background-position:0px -352px;
		}
	.serve1 span{float:right; font-weight:normal; padding-right:10px;}
	.serveBg{
		width:222px; 
		height:125px;
		padding:6px 0px 2px 8px;
		background-image:url(../images/QpIndex.png);
		background-repeat:no-repeat;
		background-position:0px -383px;
		}
	.serve2{
		width:35px; 
		height:15px;
		padding:4px 0 0 7px;
		background-image:url(../images/QpIndex.png);
		background-repeat:no-repeat;
		background-position:-462px -289px;
		float:left;
		margin-right:3px;
		color:#444;
		}	
	.serve3{
		width:176px; 
		height:20px;
		float:left;
		}
	.serve3 li{line-height:20px;float:left;margin-right:4px; display:inline;}
	.serve4{
		width:230px; 
		height:12px;
		background-image:url(../images/QpIndex.png);
		background-repeat:no-repeat;
		background-position:0px -576px;

		}
	
	/*常见问题样式---------------------------------------------------------------------------------------------*/
	.faqBg{
		width:230px; 
		height:143px;
		padding-top:2px;
		background-image:url(../images/QpIndex.png);
		background-repeat:no-repeat;
		background-position:0px -588px;}
	.faqBg li{ margin-left:20px;line-height:27px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	/*客服中心样式---------------------------------------------------------------------------------------------*/
	.serviceBg{
			width:210px;
			padding:9px 10px 0 10px;
			background-image:url(../images/QpIndex.png);
			background-repeat:repeat-y;
			background-position:0px -383px;
			}
	.serviceBg ul{list-style-type:none; padding:0; margin:0;}
	.serviceBg li{
				width:85px;
				padding-left:20px;
				line-height:20px;
				height:20px;
				float:left;
				color:#333;
				margin-bottom:14px;
				background-image:url(../images/QpIndex.png);
				background-position:-516px -289px;
				background-repeat:no-repeat;}
	.service1{
			width:210px;
			height:107px;
			margin:0 auto;
			background:url(../images/tel.gif);}
	.service1 .tel,.service1 .mail{
			display:inline;
			margin-left:30px;
			width:150px;
			height:25px;
			float:left;
			font-weight:bold;
			color:#b4000c;}
	.service1 .tel{margin-top:37px;}
	.service1 .mail{margin-top:24px;}
				
/*左边部分样式---------------------------------------------------------------------------------------------*/	
.mainLeft .RightSide{ width:474px; height:auto; float:right;}
	/*Banner样式---------------------------------------------------------------------------------------------*/
	.banner{width:464px; height:auto; border:1px solid #d9eafb; padding:4px; float:left;}
	/*新闻列表样式---------------------------------------------------------------------------------------------*/
	.news{ width:474px; height:auto; float:left;}
	.news1{ 
			width:451px; 
			height:26px;
			line-height:26px;
			padding-left:23px;							
			background-image:url(../images/QpIndex.png);
			background-repeat:no-repeat;
			background-position:-230px -40px;
			}
	.news1 span,.newsBg li span{ float:right; font-weight:normal; padding-right:10px;}
	.newsBg{ 
			width:474px; 
			height:134px;
			padding:2px 0 0 0;
			background-image:url(../images/QpIndex.png);
			background-repeat:no-repeat;
			background-position:-230px -378px;
			}
	.newsBg li{ margin-left:20px;line-height:26px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	/*道具商城样式---------------------------------------------------------------------------------------------*/
	.shopBg{ 
			width:458px; 
			height:134px;
			padding:8px;
			background-image:url(../images/QpIndex.png);
			background-repeat:no-repeat;
			background-position:-230px -514px;
			}
	#marqueedivcontrol1{float:left; width:420px; height:134px;margin:0 10px;}
	.shopBg1 {float:left; width:440px; height:134px;}
	.shopBg1 li{width:80px;float:left; margin-right:8px;}
	.shopBg1 span{padding-top:3px; line-height:15px;text-align:center; float:left; width:80px; font-family:"宋体"}
    .Fline{ text-decoration:line-through;}
	.photoScLeft,.photoScRight{width:9px; height:132px;cursor:pointer;}
	.photoScLeft{float:left; }
	.photoScRight{float:right; }
	
	/*热门游戏样式---------------------------------------------------------------------------------------------*/
	.gameHotBg{ 
			width:474px; 
			height:132px;
			padding:18px 0px 0px 0px;
			background-image:url(../images/QpIndex.png);
			background-repeat:no-repeat;
			background-position:-230px -514px;
			}
	.gameHotBg li{float:left; width:90px; height:115px; margin-left:20px; display:inline;}
	.gameHotBg span{float:left; width:90px;line-height:25px; text-align:center;}
	/*玩家靓照样式---------------------------------------------------------------------------------------------*/
	.photoBg{
			width:470px; 
			height:79px;
			padding:10px 2px;
			background-image:url(../images/QpIndex.png);
			background-repeat:no-repeat;
			background-position:-230px -665px;}
	.photoBg li{ width:92px; height:68px; border:1px solid #bcd9f4; padding:1px; margin:1px 0px 2px 17px; float:left; display:inline;}
	.photoBorder{ border:1px solid #bcd9f4; padding:1px; width:92px; height:68px; margin:0 auto;}
	
/*右边部分样式---------------------------------------------------------------------------------------------*/	
.mainRight{ width:230px; height:auto; float:right;}
.mainRight1{ width:717px; height:auto; float:right;}
.mainRight2{ width:700px; float:right;}
	/*登录样式---------------------------------------------------------------------------------------------*/
	.loginBg{
		width:214px; 
		height:175px;
		padding:7px 8px 0 8px;
		background-image:url(../images/QpIndex.png);
		background-repeat:no-repeat;
		background-position:0px -383px;}
	.loginBg1{
		width:214px; 
		padding:7px 8px 0 8px;
		background-image:url(../images/QpIndex.png);
		background-repeat:no-repeat;
		background-position:0px -383px;}
	.login{ margin:0 auto; width:200px;}
	.login li{height:35px;float:left; width:200px;}
	.login span{ float:right; margin:2px 20px 0 0;}
	.login label{
	 			height:12px; 
				width:60px; 
				background-image:url(../images/QpIndex.png); 
				background-repeat:no-repeat; 
				background-position:-462px -328px; 
				margin-left:8px;
				margin-top:8px;
				padding-left:15px;
				float:right; }
	.login input{border:1px solid #9dc6ea;height:16px;padding:2px;line-height:16px; width:130px;}
	.line27{ line-height:27px;}	
	.login .wd{ width:50px;}
	
	/*登录后样式---------------------------------------------------------------------------------------------*/
	.logined{ height:70px;*height:60px;border-bottom:1px solid #c7e1f9;}
	.logined dl{ float:left; height:10px;*height:30px; margin:10px 5px;}
	.logined1,.logined2{ width:90px; float:left; margin-top:10px;}
	.logined1{text-align:right;}
	.logined2{ text-align:left;}
	
	/*玩家排行榜样式---------------------------------------------------------------------------------------------*/
	.topBg{
		width:230px; 
		height:284px;
		
		background-image:url(../images/QpIndex.png);
		background-repeat:no-repeat;
		background-position:-230px -90px;}
	.topBg span{ float:right; font-weight:normal; padding-right:10px;}
	.topBg li{ margin-left:34px;line-height:28px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	.tab{
		width:228px; 
		height:28px;
		background-color:#f6fafd;
		border-bottom:1px solid #9dc4e8;
		border-left:1px solid #c7e1f9;
		border-right:1px solid #c7e1f9;}
	.tab .tab1,.tab .tab2{
						width:69px;
						height:24px;
						line-height:24px;
						text-align:center;
						cursor:pointer;
						float:left;
						position:relative;
						left:5px;
						top:5px;}
	.tab .tab1{
				color:#444;
				background-image:url(../images/QpIndex.png);
				background-repeat:no-repeat;
				background-position:-230px -66px;
				font-weight:bold;				
				}
	.tab .tab2{color:#333;
				background-image:url(../images/QpIndex.png);
				background-repeat:no-repeat;
				background-position:-299px -66px;
				}
	/*友情链接样式---------------------------------------------------------------------------------------------*/
	.linkg{ width:85px;
			height:35px;
			background-image:url(../images/QpIndex.png);
			background-repeat:no-repeat;
			background-position:0 -733px;
			float:left;}
	.linkg1{ width:10px;
			height:35px;
			background-image:url(../images/QpIndex.png);
			background-repeat:no-repeat;
			background-position:-85px -733px;
			float:right;}
	.linkgBg{
			width:865px;
			height:35px;
			line-height:35px;
			background:url(../images/QpIndex.png);
			background-repeat:repeat-x;
			background-position:0 -768px;
			float:left;}
	.linkgBg li{line-height:35px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; float:left; margin-right:20px;}
	/*版权样式---------------------------------------------------------------------------------------------*/
	.copyrightBg{ width:auto;
				height:auto;
				background-image:url(../images/bottomBg.gif);
				background-repeat:repeat-x;
				margin-top:10px;
				}
	.copyrightBg li{line-height:25px;margin:0 auto;text-align:center;}
	.copyrightBg span{ text-align:center; color:#333333;margin:0 auto;}		

/*登录页面----------------------------------------------------------------------------------------------------------*/
.logonBody{ width:767px; margin:0 auto;}
.logonBg,.logonBg1{ width:277px;float:left;}		
.logonBg{height:248px;}
.logonBg1{height:248px; font-family:"宋体";}
.logonBg1 td{ height:34px;}
.logonBg2{background:url(../images/login05.jpg) no-repeat;  line-height:51px; float:left; width:277px; height:51px;}
.logonBg2 label{
	 			height:12px; 
				width:60px; 
				background-image:url(../images/QpIndex.png); 
				background-repeat:no-repeat; 
				background-position:-462px -328px; 
				margin-left:69px;
				margin-top:6px;
				padding-left:15px;
				}



